extends ./layout.pug
block content
  article.profile
    .profile__head
      img.profile__avatar(src=user.avatar,alt=user.name,width="120",height="120")
      .profile__meta
        h1.h1= user.name
        p.profile__role #{user.role} · #{user.location}
        p.profile__bio= user.bio
        .tags
          each t in user.tags
            span.tag= t
        p.profile__contact
          a.btn(href=`mailto:${user.email}`) Зв’язатися
    section.profile__section
      h2.h2 Статті автора
      if articles.length
        ul.cards.grid
          each a in articles
            li.card
              a.card__media(href=`/articles/${a.slug}`)
                img(src=a.cover,alt=a.title,width="320",height="180")
              .card__body
                h3.card__title
                  a(href=`/articles/${a.slug}`)= a.title
                p.card__text= a.excerpt
                .tags
                  each t in a.tags
                    span.tag= t
      else
        p Немає статей.
